<html>
 <div id=color> <img id="bg" src=https://t3.ftcdn.net/jpg/04/16/80/50/360_F_416805022_4jZTadwP1ZDXQWj5OJJKnTDGVOegV0QQ.jpg>
 
      <div id="header">
        <h1 class="heading"> The Daily News</h1>
  </div>
  <div id="content">
  <br> <div> <p  class="bordered"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet neque nibh. Maecenas nisl dui, finibus nec mauris quis, ornare venenatis ante. Pellentesque luctus luctus ante nec hendrerit. Quisque vel porttitor est, ut auctor arcu. Phasellus in elit sit amet nisi feugiat finibus. Morbi ac iaculis elit. Curabitur maximus aliquam metus eget finibus. Pellentesque semper nisl arcu, in tempus arcu cursus eu. Sed tincidunt et eros eu vehicula. Etiam mattis posuere leo vitae semper. Sed iaculis elit quis arcu vulputate, et ornare nisl interdum. In finibus nibh sapien, ac fermentum augue dignissim id. Donec non augue imperdiet, auctor orci vel, mattis lacus. Aenean aliquet, ipsum et suscipit aliquet, sapien augue ornare odio, vitae sagittis ipsum ipsum et lorem. Nunc id nulla nec massa laoreet scelerisque.</p>
<img id="hey"src=https://mobileimages.lowes.com/productimages/f5b6176c-e646-4e7a-a284-eddae6833c8f/11620360.jpg?size=pdhz>
<p class="bordered">Maecenas pulvinar quam nec metus maximus dapibus. In ornare, mauris quis rutrum rhoncus, ante purus commodo libero, malesuada dapibus augue turpis a nisl. Nulla interdum, magna vulputate pretium suscipit, odio purus lobortis est, et euismod ex elit in nisi. Morbi eu lorem at diam dignissim tincidunt quis vel urna. Praesent mollis nisl sed neque rhoncus, sed venenatis sapien lacinia. Nunc scelerisque lacus ut elit venenatis consectetur. Donec non imperdiet mi, non dictum neque. Maecenas id ultricies nisi, eu mattis dolor. Curabitur magna ex, cursus a ex eu, pellentesque aliquet justo. Nunc a diam egestas, cursus leo ut, viverra ex. Vivamus in neque eget orci pulvinar vulputate. Vivamus vel rutrum nulla. Etiam quis sollicitudin justo, imperdiet finibus arcu.</p>

<p class="bordered">Sed eleifend, quam ut sodales pharetra, ligula augue malesuada enim, sit amet sollicitudin ante leo sit amet tortor. Vivamus suscipit nulla sit amet erat sodales lobortis. Integer tristique tempus neque a condimentum. Sed quis posuere erat, id elementum leo. Aenean vel risus tellus. In hac habitasse platea dictumst. Mauris vulputate augue ac ullamcorper cursus. Praesent vel mattis dui, id consectetur risus.</p>
  
</div>
  </div>
  </div>
  

.heading{
  text-align:center;
  font-family:'Rouge Script';
  font-size:300%;
    
}
body{
    margin-right:200px;
  margin-left:200px;
}

 #content {
  background-color:white;
}

#bg{
   
  position:fixed;
  top:0px;
    left:0px;
  z-index:-1;
  width:100vw;
}
#color{
  background-color:#5a7194
}
.bordered {
    border-style: solid;
    border-color: white;
    border-width: 6px;
    padding: 5px;
    margin: 20px;
    border-radius: 20px;
    background-color: #5a7194;
}
#hey{
 position:float;
  width:50%;
 height:200px;
  float:right
  
}
  
