

.heading{
  text-align:center;
  font-family:'Rouge Script';
  font-size:300%;
    
}
body{
    margin-right:200px;
  margin-left:200px;
}

 #content {
  background-color:white;
}

#bg{
   
  position:fixed;
  top:0px;
    left:0px;
  z-index:-1;
  width:100vw;
}
#color{
  background-color:#5a7194
}
.bordered {
    border-style: solid;
    border-color: white;
    border-width: 6px;
    padding: 5px;
    margin: 20px;
    border-radius: 20px;
    background-color: #5a7194;
}
#hey{
 position:float;
  width:50%;
 height:200px;
  float:right
  
}
  
